
div#saida1{
    border-radius: 20px;
    background-color:#008080;
   
    margin-right: 400px;
    margin-left: 700px;
    margin-top: 50px;
    width: 600px;
    height: 550px;
    position: absolute;

}
div#fundo{
    border-radius: 20px;
    background-color:#008080;
    align-items: center;
    margin-right: 400px;
    margin-left: 140px;
    margin-top: 150px;
    width: 400px;
    height: 380px;
    position: absolute;

}
div#cabecalho{
    color: white;
    font-weight: bold;
    border-radius: 20px;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;        
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 60px;
    width: 380px;
    text-align: center;
    }
div#linha{
    background-color: #48D1CC;
    margin-left: 10px;
    margin-right: 10px; 
    height: 5px;
    width: 380px;
}
div#form{
    color: white;
    font-weight: bold; 
    width: 400px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 16px;
}
input[type=text], input[type=tel], input[type=date]{
    background-color: #E6E6FA;
    border-radius: 10px;
    padding: 10px;
    width: 800;
    border: 1px solid #999;
    outline: 0;   
}
div#botao{
    border-bottom: 50px;
    margin-top: 16px;
    margin-left: 280px;
        
}

div#saida{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E0FFFF;
    overflow: auto;
    display: flex;
    flex-direction: row;
    max-height: 490px;
   
}